<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Nová objednávka</title>
</head>

<body>
    <p>Dobrý den,</p>
    <p>zde je potvrzení Vaší rezervace:<br>
        <br>
        ID: <%= reservation._id %><br>
        Křestní jméno: <%= reservation.name.first %><br>
        Příjmení: <%= reservation.name.last %><br>
        Email: <%= reservation.email %><br>
        Čas: <%= reservation.time.name %><br>
    </p>
    <br>
    <p>
        Prosíme Vás, abyste se dostavili nejpozději 20 minut před Vaším zarezervovaným časem, jinak bude Vaše rezervace zrušena.<br>
        <br>
        V rámci ochrany naší planety Země, oceníme vlastní hrníček na teplý čajíček.<br>
        <br>
        Trasa našeho Pohádkového lesa začíná a končí v areálu <a href="https://goo.gl/maps/ahKZ9YrUWrKsGH7s5">Sadu pod Lipou
            v Rudici</a>. Odkaz na Google Mapy: https://goo.gl/maps/ahKZ9YrUWrKsGH7s5 <br>
        <br>
        Návštěvníky přijíždějící autem prosíme, aby využili parkoviště nedaleko místa konání akce. Odkaz na Google Mapy: https://goo.gl/maps/EPPPv2R1ow9DStVRA <br>
        <br>
        Po skončení akce nám prosím vyplňte <a href="https://pohles.rudickamladez.cz/feedback">dotazník</a> se zpětnou vazbou:<br>
        <a href="https://pohles.rudickamladez.cz/feedback">https://pohles.rudickamladez.cz/feedback</a>
        <br>
        Případné odpovědi na Vaše nejčastější dotazy najdete<a href="https://pohles.rudickamladez.cz/cs/faq/">zde</a>.<br>
        <br>
        S přáním hezkého dne<br>
        Pořadatelé Pohádkového lesa v Rudici<br>

        Email: <a href="mailto:pohles@rudickamladez.cz">pohles@rudickamladez.cz</a><br>
        www <a href="https://pohles.rudickamladez.cz">pohles.rudickamladez.cz</a><br>
    </p>
    <div style="margin: 15px 5px;">
        <img src="cid:reservation-qrcode.svg" alt="QR code of ticket reservation"/>
    </div>
</body>

</html>
